<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="dashboard"></i>
        <a>Dashboard</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <a routerLink="user">User Management</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="usergroup-add" nzTheme="outline"></i>
        <a routerLink="employee">Employee</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="smile" nzTheme="outline"></i>
        <a routerLink="customer">Customer</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <a routerLink="calender">Calender</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="copy" nzTheme="outline"></i>
        <a routerLink="category">Category</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="cluster" nzTheme="outline"></i>
        <a routerLink="subCategory">Sub-Category</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="audit" nzTheme="outline"></i>
        <a routerLink="service">Service</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="edit" nzTheme="outline"></i>
        <a routerLink="appointment">Appointment Management</a>
      </li>
<!--      <li nz-menu-item nzMatchRouter>-->
<!--        <i nz-icon nzType="file"></i>-->
<!--        <a routerLink="supplier">Supplier</a>-->
<!--      </li>-->
<!--      <li nz-menu-item nzMatchRouter>-->
<!--        <i nz-icon nzType="file"></i>-->
<!--        <a routerLink="order">Purchase Orders</a>-->
<!--      </li>-->
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="money-collect" nzTheme="outline"></i>
        <a routerLink="voucher">Vouchers</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <i nz-icon nzType="printer" nzTheme="outline"></i>
        <a routerLink="report">Reports</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">

        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
