<nz-card nzTitle="CATEGORY">

  <form nz-form [formGroup]="categoryForm" >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Code</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Code!">
        <input nz-input formControlName="code" id="code" input nz-input placeholder="Type your code here" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name" >Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
        <input nz-input formControlName="name" id="name"  nz-input placeholder="Type your name here"/>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>

      <div nz-col [nzOffset]="3" [nzSpan]="6" >
        <nz-form-item>
          <nz-form-control>
            <button nz-button (click)="resetForm($event)">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </div>
          
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>

            <button *ngIf="!update"
                    nz-button
                    nzType="primary"
                    [disabled]="!categoryForm.valid"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure?"
                    (nzOnConfirm)="submitForm()"
                    nzPopconfirmPlacement="top">Submit
            </button>

            <button *ngIf="!update" nz-button nzType="primary" [disabled]="!categoryForm.valid" nz-popconfirm
              nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="updateCategory()" nzPopconfirmPlacement="top">Submit
            </button>

          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
</form>
</nz-card>

<nz-card>
  <nz-table #nzTable [nzData]="displayCategories" nzSize="small" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Code</th>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        
        <td nzRight="0px">
          <a (click)="fillForm(data)">Edit</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>



