<nz-card nzTitle="SERVICE">
  <p
    style="
      font-size: 15px;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 16px;
      font-weight: 500;
    "
  >
    Service Add Form
  </p>

  <form nz-form [formGroup]="serviceForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code"
        >Service Code</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Name!"
      >
        <input
          nz-input
          formControlName="code"
          id="code"
          value="{{ code }}"
          readonly
          placeholder="Type Code Here"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="category"
        >Category Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid category!"
      >
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a category"
          formControlName="category"
          (ngModelChange)="getSubcategoryByCategory($event)"
          [compareWith]="compare"
        >
          <nz-option
            *ngFor="let category of categories"
            nzLabel="{{ category.name }}"
            [nzValue]="category"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="subcategory"
        >Sub-Category Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid subcategory!"
      >
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a subcategory"
          formControlName="subcategory_id"
          [compareWith]="compare"
        >
          <nz-option
            *ngFor="let subcategory of subcategories"
            nzLabel="{{ subcategory.name }}"
            [nzValue]="subcategory"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
        >Service Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Name!"
      >
        <input
          nz-input
          formControlName="name"
          id="name"
          nz-input
          placeholder="Type Service Name Here"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price"
        >Service Price</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Invalid price!">
        <nz-input-number
          nz-input
          formControlName="price"
          id="price"
          [nzStep]="0.01"
          placeholder="Type Service Price Here"
        ></nz-input-number>
        <label> LKR</label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="duration"
        >Duration</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Duration!"
      >
        <input
          nz-input
          formControlName="duration"
          id="duration"
          placeholder="Type Duration Here"
        />
        <!--        <nz-time-picker formControlName="duration" id="duration" placeholder="Type Duration Here" nzFormat="HH:mm:ss"></nz-time-picker>-->
        <label> HH:MM</label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status"
        >Status</nz-form-label
      >
      <div nz-col [nzSm]="14" [nzXs]="24">
        <nz-select
          nzErrorTip="The input is not valid Status!"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select Status"
          formControlName="status"
          id="status"
        >
          <nz-option nzLabel="Active" nzValue="Active"></nz-option>
          <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
        </nz-select>
      </div>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzOffset]="3" [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <button nz-button (click)="resetForm()">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <button
              *ngIf="!update"
              nz-button
              nzType="primary"
              [disabled]="!serviceForm.valid"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="submitForm()"
              nzPopconfirmPlacement="top"
            >
              Submit
            </button>
            <button
              *ngIf="update"
              nz-button
              nzType="primary"
              [disabled]="!serviceForm.valid"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="updateService()"
              nzPopconfirmPlacement="top"
            >
              Update
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>

<nz-card>
  <nz-table
    #nzTable
    [nzData]="displayServices"
    nzSize="small"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th>Code</th>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Category</th>
        <th>Subcategory</th>
        <th>Price</th>
        <th>Duration</th>
        <th>Status</th>
        <th style="width: 155px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.subcategory.category.name }}</td>
        <td>{{ data.subcategory.name }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.duration }}</td>
        <td>{{ data.status }}</td>
        <td nzRight="0px">
          <a nz-button nzType="link" (click)="fillForm(data)">Edit</a>
          <span *ngIf="data.status == 'Active'">
            |
            <a
              nz-button
              nzType="link"
              nzDanger
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="delete(data.id)"
              >Delete</a
            ></span
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search name"
          [(ngModel)]="searchValue"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-card>
