<nz-card nzTitle="ITEM MANAGEMENT">
  <p
    style="
      font-size: 15px;
      color: rgba(0, 0, 0, 0.85);
      margin-bottom: 16px;
      font-weight: 500;
    "
  >
    Item Registration Form
  </p>

  <form nz-form [formGroup]="itemForm">
    <div nz-row>
      <div nz-col [nzMd]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code"
            >Code</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="The input is not valid code!"
          >
            <input
              nz-input
              formControlName="code"
              id="code"
              value="{{ code }}"
              readonly
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
            >Item Name</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="The input is not valid item name!"
          >
            <input
              nz-input
              formControlName="name"
              id="name"
              placeholder="Type your name here"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="brand"
            >Brand</nz-form-label
          >
          <div nz-col [nzSm]="14" [nzXs]="24">
            <nz-select
              nzErrorTip="The input is not valid brand!"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select Brand Here"
              formControlName="brand"
              id="brand"
            >
              <nz-option nzLabel="Bellose" nzValue="Bellose"></nz-option>
              <nz-option nzLabel="Dove" nzValue="Dove"></nz-option>
              <nz-option nzLabel="Loreal" nzValue="Loreal"></nz-option>
              <nz-option nzLabel="Jovees" nzValue="Jovees"></nz-option>
            </nz-select>
          </div>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">
            Price</nz-form-label
          >
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Invalid price!">
            <nz-input-number
              nz-input
              formControlName="price"
              id="price"
              [nzStep]="0.01"
              placeholder="Type Service Price Here"
            ></nz-input-number>
            <label> LKR</label>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzMd]="12">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="quantity"
            >Quantity</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="The input is not valid quantity!"
          >
            <input
              nz-input
              formControlName="quantity"
              id="quantity"
              placeholder="Type the quantity  here"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type"
            >Quantity Type</nz-form-label
          >
          <div nz-col [nzSm]="14" [nzXs]="24">
            <nz-select
              nzErrorTip="The input is not valid type!"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select type here"
              formControlName="type"
              id="type"
            >
              <nz-option nzLabel="L" nzValue="L"></nz-option>
              <nz-option nzLabel="ML" nzValue="ML"></nz-option>
              <nz-option nzLabel="Bottle" nzValue="Bottle"></nz-option>
            </nz-select>
          </div>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="supplier"
            >Supplier Name</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="The input is not valid supplier!"
          >
            <nz-select
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select a supplier"
              formControlName="supplier_id"
              [compareWith]="compare"
            >
              <nz-option
                *ngFor="let supplier of suppliers"
                nzLabel="{{ supplier.name }}"
                [nzValue]="supplier"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status"
            >Status</nz-form-label
          >
          <div nz-col [nzSm]="14" [nzXs]="24">
            <nz-select
              nzErrorTip="The input is not valid Status!"
              nzShowSearch
              nzAllowClear
              nzPlaceHolder="Select Status"
              formControlName="status"
              id="status"
            >
              <nz-option nzLabel="Active" nzValue="Active"></nz-option>
              <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
            </nz-select>
          </div>
        </nz-form-item>

        <div nz-row>
          <div nz-col [nzOffset]="3" [nzSpan]="6">
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="resetForm()">Reset</button>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSpan]="6">
            <nz-form-item>
              <nz-form-control>
                <button
                  *ngIf="!update"
                  nz-button
                  nzType="primary"
                  [disabled]="!itemForm.valid"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure?"
                  (nzOnConfirm)="submitForm()"
                  nzPopconfirmPlacement="top"
                >
                  Submit
                </button>
                <button
                  *ngIf="update"
                  nz-button
                  nzType="primary"
                  [disabled]="!itemForm.valid"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure?"
                  (nzOnConfirm)="updateItem()"
                  nzPopconfirmPlacement="top"
                >
                  Update
                </button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>
  </form>
</nz-card>
<br />

<nz-card>
  <nz-table
    #nzTable
    [nzData]="displayItems"
    nzSize="small"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th>Code</th>
        <th nzCustomFilter>
          Item Name
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Brand</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Quantity Type</th>
        <th>Supplier Name</th>
        <th>Status</th>
        <th style="width: 155px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.brand }}</td>
        <td>{{ data.price }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.supplier.name }}</td>
        <td>{{ data.status }}</td>
        <td nzRight="0px">
          <a nz-button nzType="link" (click)="fillForm(data)">Edit</a>
          <span *ngIf="data.status == 'Active'">
            |
            <a
              nz-button
              nzType="link"
              nzDanger
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="delete(data.id)"
              >Delete</a
            ></span
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search name"
          [(ngModel)]="searchValue"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-card>
