<nz-card nzTitle="APPOINTMENT CREATION">

  <form nz-form [formGroup]="appointmentForm">

    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Customer Details"></nz-step>
      <nz-step nzTitle="Basic Details"></nz-step>
      <nz-step nzTitle="Service Details"></nz-step>
      <nz-step nzTitle="Confirm"></nz-step>
    </nz-steps>
    <br>

    <div class="steps-content">

<!-- =================  STEP 1 ====================================== -->
      <nz-card nzType="inner" nzTitle="Customer Details" *ngIf="current == 0">

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nic">NIC</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Number!">
            <input nz-input formControlName="nic" id="nic" input nz-input placeholder="Type your NIC number here" #nic (change)="getCustomerByNIC(nic.value)"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
            <input nz-input formControlName="name" id="name" placeholder="Type your name here" [readOnly]="registered"/>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">Mobile Number</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Number!">
            <input nz-input formControlName="mobile" id="mobile" placeholder="Type your mobile number here" [readOnly]="registered"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email Address</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input formControlName="email" id="email" nz-input placeholder="Type your email address here" [readOnly]="registered"/>
          </nz-form-control>
        </nz-form-item>


      </nz-card>

      <!-- =================  STEP 2 ====================================== -->
      <nz-card nzType="inner" nzTitle="Basic Details" *ngIf="current == 1">

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Appointment Code</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Appointment ID!">
            <input nz-input formControlName="code" id="code" readonly placeholder="Type your code here"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="date">Date</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Date!">
            <nz-date-picker formControlName="date" id="date" placeholder="Date here"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="start">Start Time</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Time!">
            <nz-time-picker formControlName="start" id="start" nzFormat="HH:mm" ></nz-time-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <!--nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="end">End Time</nz-form-label>-->
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Time!">
            <input hidden nz-input formControlName="end" id="end" nz-input placeholder="End Time here"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cost">Cost</nz-form-label> -->
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Cost!">
            <input hidden nz-input formControlName="cost" id="cost" nz-input placeholder="Total Cost"/>
          </nz-form-control>
        </nz-form-item>

      </nz-card>

      <!-- =================  STEP 3 ====================================== -->
      <nz-card nzType="inner" nzTitle="Service Details" *ngIf="current == 2">

        <div nz-row >
          <div nz-col [nzMd]="24">
            <h2>Category</h2>
          <nz-tabset>
            <nz-tab *ngFor="let category of categories" nzTitle="{{category.name}}">
              <h4>Subcategory</h4>
              <nz-tabset>
                <nz-tab *ngFor="let subcategory of category.subcategory" nzTitle="{{subcategory?.name}}">
                  <nz-table #basicTable2 [nzShowPagination]="false" nzSize="small" [nzData]="subcategory?.service">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Time Duration</th>
                      <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let data of basicTable2.data">
                      <td>{{ data.name }}</td>
                      <td>{{ data.price }}</td>
                      <td>{{ data.duration }}</td>
                      <td
                        [nzChecked]="selectedServices.includes(data)"
                        [nzDisabled]="data.disabled"
                        (nzCheckedChange)="onItemChecked(data, $event)"
                      >
                      </td>
                    </tr>
                    </tbody>
                  </nz-table>
                </nz-tab>
              </nz-tabset>
            </nz-tab>
          </nz-tabset>
          </div>
        </div>

      </nz-card>

      <!-- =================  STEP 4 ====================================== -->
      <nz-card nzType="inner" nzTitle="Appointment Summary" *ngIf="current == 3">
        <label>Appointment Code : </label><span>{{appointmentForm.controls.code.value}}</span><br>
        <label>Customer Name : </label><span>{{appointmentForm.controls.name.value}}</span><br>
        <label>Customer NIC : </label><span>{{appointmentForm.controls.nic.value}}</span><br>
        <label>Customer Email : </label><span>{{appointmentForm.controls.email.value}}</span><br>
        <label>Customer Mobile : </label><span>{{appointmentForm.controls.mobile.value}}</span><br>
        <label>Date : </label><span>{{appointmentForm.controls.date.value}}</span><br>
        <label>Start Time : </label><span>{{appointmentForm.controls.start.value}}</span><br>
        <label>End Time : </label><span>{{endTime}}</span><br><br>

        <nz-list nzBordered nzHeader="Selected Services">
          <nz-list-item *ngFor="let service of selectedServices">
              <span>{{service.name}}</span>
              <span>{{service.duration}}</span>
              <span>{{service.price}}</span>
          </nz-list-item>
          <nz-list-item>
            <span><h4>Total</h4></span>
            <span><h4>{{totalPrice}}</h4></span>
          </nz-list-item>
        </nz-list>



        <button
          nz-button
          nzType="primary"
          [disabled]="!appointmentForm.valid"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure?"
          (nzOnConfirm)="submitForm()"
          nzPopconfirmPlacement="top"
        >
          Submit
        </button>

      </nz-card>

      <!-- ======================================================= -->
    </div>

    <div class="steps-action">
      <button nz-button nzType="default" (click)="pre()" *ngIf="0 < current && current < 2">
        <span>Previous</span>
      </button>
      <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
        <span>Next</span>
      </button>
      <button nz-button nzType="primary" (click)="calculateEndTime()" *ngIf="current === 2">
        <span>Go to Confirm</span>
      </button>
      <button nz-button nzType="default" *ngIf="current === 3"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="resetForm()"
              nzPopconfirmPlacement="top">
        <span>Cancel</span>
      </button>
    </div>

  </form>
</nz-card>



