<nz-card nzTitle="USER">

<form nz-form [formGroup]="userForm" >
<!--  <nz-form-item>-->
<!--    <nz-form-label [nzSm]="2" [nzXs]="24" nzRequired nzFor="code">Code</nz-form-label>-->
<!--    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Code!">-->
<!--      <input nz-input formControlName="code" id="code" input nz-input placeholder="Type your code here" />-->
<!--    </nz-form-control>-->
<!--  </nz-form-item>-->
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name" >Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
      <input nz-input formControlName="name" id="name"  nz-input placeholder="Type your name here"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email" >E-mail</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" nz-input placeholder="Type your email here"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Password!">
      <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" id="password" nz-input placeholder="Type your password here"/>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="password_confirmation">Confirm Password</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Password does not match!">
      <input type="password" formControlName="password_confirmation" id="password_confirmation" nz-input placeholder="Type again your password here"/>
    </nz-form-control>
  </nz-form-item>

<nz-form-item>
  <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="roles">Roles</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24" >
  <nz-select nzPlaceHolder="Select roles"
             nzMode="multiple"
             nzAllowClear
             nzShowSearch
             nzServerSearch formControlName="roles">
    <nz-option *ngFor="let option of roles" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
  </nz-select>
  </nz-form-control>
</nz-form-item>

  <div nz-row>
    <div nz-col [nzOffset]="12" [nzSpan]="2" >
      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="2" >
      <nz-form-item>
        <nz-form-control>
          <button nz-button
                  nzType="primary"
                  [disabled]="!userForm.valid"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure?"
                  (nzOnConfirm)="submitForm()"
                  nzPopconfirmPlacement="top">Submit
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
</nz-card>
<br>


<nz-card>
  <nz-table #nzTable [nzData]="displayUsers" nzSize="small" nzTableLayout="fixed">
    <thead>
    <tr>
      <th nzCustomFilter>
        Name
        <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>Email</th>
      <th>Roles</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>
      <td><span *ngFor="let role of data.roles">{{role.name}} </span></td>
      <td nzRight="0px">
        <a (click)="fillForm(data)">Edit</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-card>
