<nz-card nzTitle="SUB-CATEGORY">

  <form nz-form [formGroup]="subCategoryForm" >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Code</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Code!">
        <input nz-input formControlName="code" id="code" input nz-input placeholder="Type your code here" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="catname" >Category Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
        <input nz-input formControlName="catname" id="catname"  nz-input placeholder="Select the Category here"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sub" >Sub Category Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Date!">
        <input nz-input formControlName="sub" id="sub"  nz-input placeholder="Select SUb-Categories here"/>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzOffset]="13" [nzSpan]="6" >
        <nz-form-item>
          <nz-form-control>
            <button nz-button (click)="resetForm($event)">Reset</button>
            <button nz-button
                    nzType="primary"
                    [disabled]="!subCategoryForm.valid"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure?"
                    (nzOnConfirm)="submitForm()"
                    nzPopconfirmPlacement="top">Submit
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>


