<nz-card nzTitle="SUB-CATEGORY">
  <form nz-form [formGroup]="subCategoryForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="category"
        >Category Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid category!"
      >
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a category"
          formControlName="category_id"
          [compareWith]="compares"
        >
          <nz-option
            *ngFor="let category of categories"
            nzLabel="{{ category.name }}"
            [nzValue]="category"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
        >Sub Category Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="The input is not valid Date!"
      >
        <input
          nz-input
          formControlName="name"
          id="name"
          nz-input
          placeholder="Select SUb-Categories here"
        />
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col [nzOffset]="6" [nzSpan]="3">
        <nz-form-item>
          <nz-form-control>
            <button nz-button (click)="resetForm()">Reset</button>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-control>
            <button
              *ngIf="!update"
              nz-button
              nzType="primary"
              [disabled]="!subCategoryForm.valid"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="submitForm()"
              nzPopconfirmPlacement="top"
            >
              Submit
            </button>
            <button
              *ngIf="update"
              nz-button
              nzType="primary"
              [disabled]="!subCategoryForm.valid"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              (nzOnConfirm)="updateSubcategory()"
              nzPopconfirmPlacement="top"
            >
              Update
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>

<nz-card>
  <nz-table
    #nzTable
    [nzData]="displaySubcategories"
    nzSize="small"
    nzTableLayout="fixed"
  >
    <thead>
      <tr>
        <th>Category Name</th>
        <th nzCustomFilter>
          Subcategory
          <nz-filter-trigger
            [(nzVisible)]="visible"
            [nzActive]="searchValue.length > 0"
            [nzDropdownMenu]="menu"
          >
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.category.name }}</td>
        <td>{{ data.name }}</td>

        <td nzRight="0px">
          <a nz-button nzType="link" (click)="fillForm(data)">Edit</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input
          type="text"
          nz-input
          placeholder="Search name"
          [(ngModel)]="searchValue"
        />
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          (click)="search()"
          class="search-button"
        >
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
</nz-card>
