[nz-carousel-content] {
  text-align: center;
  height: 500px;
  line-height: 200px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.logo {
  width: 50px;
  float: left;
}

.logo img{
  width: inherit;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}


.img-card {
  width: 25%;
}

.section-title {
  text-align: center;
  padding: 10px;
}

.salon {
  text-align: center;
  font-family: Cambria;
}

.beauty {
  text-align: center;
  font-family: cursive;
  font-size: 50px;

}

.call {
  text-align: center;
  font-size: 45px;
  font-style: bold;
}

.number {
  text-align: center;
  font-size: 40px;
  font-style: bold;
}

.img-card {
  width: 20%;
  text-align: center;
  display: inline-block;
  margin: 1%;
}


.describe1 {
  font-style: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 25px;
}


.carousel-img {
  width: 100%;
  display: inline;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  position: fixed;
}

.app-header {
  position: fixed;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}
