<nz-layout>

  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item routerLink="/">HOME</li>
      <li nz-menu-item (click)="scroll('services')">SERVICES</li>
      <li nz-menu-item (click)="scroll('about')">ABOUT US</li>
      <li nz-menu-item (click)="scroll('contact')">CONTACT US</li>
    </ul>
  </nz-header>

  <div nz-row>

    <div nz-col nzSpan="24">
      <p class="salon">WELCOME TO SALON BASHIS</p>
      <p class="beauty">"Beauty begins the moment you decide to be yourself "</p>
    </div>
  </div>

  <nz-content>


    <div class="inner-content">

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-carousel nzAutoPlay>
            <div nz-carousel-content *ngFor="let image of images">
              <img [src]="image" class="carousel-img" />
            </div>
          </nz-carousel>
        </div>
      </div>

      <div nz-row id="services">
        <div nz-col nzSpan="24" style="text-align: center">

          <H1 class="section-title">OUR SERVICES</H1>


          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate1">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate1>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate2">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate2>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate3">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate3>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate4">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate4>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate5">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate5>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate6">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate6>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate7">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate7>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>

          <nz-card nzHoverable class="img-card" [nzCover]="coverTemplate8">
            <nz-card-meta nzTitle="Hair"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate8>
            <img alt="hair_cut" src="../../assets/hair_cutting.jpg" />
          </ng-template>



        </div>
      </div>
      <br><br>

      <div nz-row id="about">

        <div nz-col nzSpan="24">
          <h1 class="section-title">ABOUT SALON BASHIS</h1>
          <p class="describe1">A contemporary salon brand offering fresh hairstyles and beauty treatments, with a rich
            history that ties us to the
            very roots of the hair and beauty industry in Sri Lanka.</p>
          <p class="describe1">The Salon Bashis family is made up of highly skilled staff members who continue this
            unique
            service outlook,
            and we’re
            proud to say that they actively shape the direction of our salons and the brand as a whole, with care,
            passion, and
            personal responsibility.</p>

        </div>
      </div>

      <div nz-row id="contact">
        <div nz-col nzSpan="24" style="text-align: center">

          <H1 class="section-title">Contact Us</H1>


        </div>
      </div>

    </div>
  </nz-content>
  <nz-footer>CONTACT WITH SALON BASHIS</nz-footer>
</nz-layout>