<nz-card nzTitle="CUSTOMER MANAGEMENT">

  <p style="font-size:15px;color:rgba(0, 0, 0, 0.85);margin-bottom:16px;font-weight: 500;">
    Customer Registration Form
  </p>


  <form nz-form [formGroup]="customerForm">
    <div nz-row>


      <div nz-col [nzMd]="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Customer Code</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Code!">
          <input nz-input formControlName="code" id="code" value="{{code}}" readonly/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Full Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Name!">
          <input nz-input formControlName="name" id="name" nz-input placeholder="Type your name here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birth">Date of Birth</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Date!">
        <nz-date-picker formControlName="birth" id="birth" placeholder="Date of birth here" nzFormat="yyyy-MM-dd" [nzDisabledDate]="disabledDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nic">NIC</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid NIC!">
          <input nz-input formControlName="nic" id="nic" nz-input placeholder="Type your NIC here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="civil">Civil Status</nz-form-label>
        <nz-radio-group formControlName="civilStatus" nzName="radiogroup" nzErrorTip="The input is not valid Civil Status!">
          <label nz-radio nzValue="Married">Married</label>
          <label nz-radio nzValue="Unmarried">Unmarried</label>
        </nz-radio-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address">Address</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Address!">
          <input nz-input formControlName="address" id="address" input nz-input
                 placeholder="Type your  permanent address here"/>
        </nz-form-control>
      </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Password!">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password" id="password" nz-input placeholder="Type your password here"/>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password_confirmation">Repeat Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Password does not match!">
            <input type="password" formControlName="password_confirmation" id="password_confirmation" nz-input placeholder="Type again your password here"/>
          </nz-form-control>
        </nz-form-item>

        <input type="password" hidden formControlName="roles" id="roles" nz-input/>


      </div>


    <div nz-col [nzMd]="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="postal">Postal Code</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Post Code!">
          <input nz-input formControlName="postal" id="postal" nz-input placeholder="Type your name here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="town">Town</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Town!">
          <input nz-input formControlName="town" id="town" nz-input placeholder="Type your town here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="district">District</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid District!">
          <input nz-input formControlName="district" id="district" nz-input placeholder="Type your district here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="land">Land Number</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Number!">
          <input nz-input formControlName="land" id="land" input nz-input placeholder="Type your  land number here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mobile">Mobile Number</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Number!">
          <input nz-input formControlName="mobile" id="mobile" nz-input placeholder="Type your mobile number here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email Address</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
          <input nz-input formControlName="email" id="email" nz-input placeholder="Type your email address here"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status">Status</nz-form-label>
        <div nz-col [nzSm]="14" [nzXs]="24">
          <nz-select nzErrorTip="The input is not valid Status!" [nzDisabled]="!update" nzShowSearch nzAllowClear nzPlaceHolder="Select Status"
            formControlName="status" id="status">
            <nz-option nzLabel="Active" nzValue="Active"></nz-option>
            <nz-option nzLabel="Inactive" nzValue="Inactive"></nz-option>
          </nz-select>
        </div>
      </nz-form-item>



      <div nz-row>

        <div nz-col [nzOffset]="3" [nzSpan]="6">
          <nz-form-item>
            <nz-form-control>
              <button nz-button (click)="resetForm()">Reset</button>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col [nzSpan]="6">
          <nz-form-item>
            <nz-form-control>
              <button *ngIf="!update"
                    nz-button
                    nzType="primary"
                    [disabled]="!customerForm.valid"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure?"
                    (nzOnConfirm)="submitForm()"
                    nzPopconfirmPlacement="top">Submit
            </button>

            <button *ngIf="update"
                    nz-button nzType="primary"
                    [disabled]="!customerForm.valid"
                    nz-popconfirm
                    nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="updateCustomer()" nzPopconfirmPlacement="top">Update
            </button>

            </nz-form-control>
          </nz-form-item>
        </div>

       </div>



      </div>

    </div>

  </form>
  <br>
  <br>
</nz-card>
<br>

<nz-card>
  <nz-table #nzTable [nzData]="displayCustomers" nzSize="small" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>Code</th>
        <th nzCustomFilter>
          Name
          <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th>Email</th>
        <th>NIC</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of nzTable.data">
        <td>{{ data.code }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.nic }}</td>
        <td>{{ data.mobile }}</td>
          <td>{{ data.status }}</td>
        <td nzRight="0px">
          <a nz-button nzType="link" (click)="fillForm(data)">Edit</a> <span *ngIf="data.status == 'Active'"> | <a nz-button nzType="link" nzDanger nz-popconfirm
              nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="delete(data.id)">Delete</a></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="resetSearch()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>


